html, body {
  height: 100%;
  width: 100%;
}

@media (max-width: 699px) {
    .title {
      width: 100%;
    }

    .logo {
      display: block;
      margin-left: auto;
      margin-right: auto;

    }

    .iframe {
    display:none;
    }
}

.appName {
  font-family: cinzel;
}

img[src^= "https://i.ibb.co/Nthpwm1/logo-1.png"] {
  display: block;
  height: 200px;
  background-position: center;
  background-attachment: absolute;
  margin: 0 auto;


}

.search {
  background-position: center;
  margin: 0 auto;
 display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: cinzel;
  margin-top: 25px;
  margin-left: 500px;
}

.search input {
  width: 400px;
  height: 30px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  margin-right: 500px;
}

.stockPhotos {
margin-top: 25px;
display: flex;
flex-direction: row;

}

.stockPhotos  img {
  width: 100%;
  height: 100%;
}

.title {
  font-family: cinzel;
  display: block;
  text-align: center;
    height: 60px;
    width: 700px;
    line-height: 60px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #00244c;
    background-position: center;
    background-attachment: absolute;
    color: white;
    margin: 0 auto;
}

.collection {
  font-family: cinzel;
  display: block;
  text-align: center;
    height: 60px;
    width: 950;
    line-height: 60px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #00244c;
    background-position: center;
    background-attachment: absolute;
    color: white;
    margin: 0 auto;
}

.options {
 margin-top: 100px;
 border: 4px solid gray;
 border-radius: 10%;
 width: 400px;
 height: 450px;
 background-position: center;
 background-color: #ffe3be;
 margin: 0 auto;
 margin-top: 50px;

}

#where {
  display: block;
  height: 44px;
    width: 400px;
    line-height: 40px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #00244c;
    background-position: center;
    color: white;
    margin-top: 0 auto;
/*Struggling to center and move up a bit *********************************************************/
  font-size: 14px;
  text-align: center;

}

button {
  font-family: cinzel;
  display: block;
  text-align: center;
    height: 50px;
    width: 190px;
    line-height: 50px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #d72323;
    background-position: center;
    color: white;
    margin: 0 auto;
    margin-top: 45px;
}

/*
.publicParks {
  font-family: cinzel;
  display: block;
  text-align: center;
    height: 50px;
    width: 190px;
    line-height: 50px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #d72323;
    background-position: center;
    color: white;
    margin: 0 auto;
    margin-top: 45px;
}

.gatedDogParks {
  font-family: cinzel;
  display: block;
  text-align: center;
    height: 50px;
    width: 220px;
    line-height: 50px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #d72323;
    background-position: center;
    color: white;
    margin: 0 auto;

}

.restaurantsBars {
  font-family: cinzel;
  display: block;
  text-align: center;
    height: 50px;
    width: 225px;
    line-height: 50px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #d72323;
    background-position: center;
    color: white;
    margin: 0 auto;
}

.coffee {
  font-family: cinzel;
  display: block;
  text-align: center;
    height: 50px;
    width: 115px;
    line-height: 50px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #d72323;
    background-position: center;
    color: white;
    margin: 0 auto;
}
*/

.explanation {
  text-align: center;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 50px;
}

.topPicks {
  text-align: center;
  font-family: cinzel;
  display: block;
  text-align: center;
    height: 60px;
    width: 700px;
    line-height: 60px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #00244c;
    background-position: center;
    background-attachment: absolute;
    color: white;
    margin: 0 auto;
}

.crime {
  text-align: center;
  font-family: cinzel;
  display: block;
  text-align: center;
    height: 60px;
    width: 700px;
    line-height: 60px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #00244c;
    background-position: center;
    color: white;
    margin: 0 auto;
}

.crimeMap {
  text-align: center;
}

.forestPark {
  margin-top: 2%;
  width: 19%;
}

.towerGrove {
  width: 18%;
  border: 5px solid black;
}

.francisPark {
  width: 19%;

}

.topPicksInfo {
  text-align: center;
}

.facts {
  margin-top: 100px;
  border: 4px solid gray;
  border-radius: 10%;
  width: 400px;
  height: 200px;
  background-position: center;
  background-color: #ffe3be;
  margin: 0 auto;
  margin-top: 50px;
  list-style-type: none;
}

.forestParkHeader {
    font-family: cinzel;
    display: block;
    text-align: center;
      height: 50px;
      width: 190px;
      line-height: 50px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      background-color: #d72323;
      background-position: center;
      color: white;
      margin: 0 auto;
      margin-top: 45px;
}

.towerGroveHeader {
  font-family: cinzel;
  display: block;
  text-align: center;
    height: 50px;
    width: 215px;
    line-height: 50px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #d72323;
    background-position: center;
    color: white;
    margin: 0 auto;
    margin-top: 45px;
}

.francisParkHeader {
  font-family: cinzel;
  display: block;
  text-align: center;
    height: 50px;
    width: 190px;
    line-height: 50px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #d72323;
    background-position: center;
    color: white;
    margin: 0 auto;
    margin-top: 45px;
}

.francisParkBody {
  text-align: center;
}
.weatherLogo {
  display: block;
  height: 10px;
}


.allWeather {
  display: flex;
  flex-direction: row;
}

.coffeeSpots {
  text-align: center;
}

.locationHeader {
  font-family: cinzel;
  display: block;
  text-align: center;
    height: 50px;
    width: 190px;
    line-height: 50px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #d72323;
    background-position: center;
    color: white;
    margin: 0 auto;
    margin-top: 45px;
}

.fiddleHeader {
  font-family: cinzel;
  display: block;
  text-align: center;
    height: 50px;
    width: 265px;
    line-height: 50px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #d72323;
    background-position: center;
    color: white;
    margin: 0 auto;
    margin-top: 45px;
}

.zoomieHeader {
  font-family: cinzel;
  display: block;
  text-align: center;
    height: 50px;
    width: 215px;
    line-height: 50px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #d72323;
    background-position: center;
    color: white;
    margin: 0 auto;
    margin-top: 45px;
}

.container {
  padding: 40px;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

#charactersList {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.character {
  list-style-type: none;
  background-color: #eaeaea;
  border-radius: 3px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
      'name image'
      'house image';
  text-align: left;
}

.character > h2 {
  grid-area: name;
  margin-bottom: 0px;
}

.character > p {
  grid-area: house;
  margin: 0;
  margin-top: -18px;
}

.character > img {
  max-height: 100px;
  grid-area: image;
}

#searchBar {
  width: 100%;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  padding: 5px 10px;
  font-size: 12px;
}

#searchWrapper {
  position: relative;
}

#searchWrapper::after {
  content: '🔍';
  position: absolute;
  top: 7px;
  right: 15px;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

input {
  font-size: 1rem;
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: .25rem;
  margin-top: 1rem;
}

.card {
  border: 1px solid black;
  background-color: white;
  padding: .5rem;
}

.card > .header {
  margin-bottom: .25rem;
}

.card > .body {
  font-size: .8rem;
  color: #777;
}

.hide {
  display: none;
}

.submit {
  text-align: center;
  font-family: cinzel;
  display: block;
  text-align: center;
    height: 60px;
    width: auto;
    line-height: 60px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #00244c;
    background-position: center;
    background-attachment: absolute;
    color: white;
    margin: 0 auto;
}

.formBox {
margin-top: 25px;
margin-left: auto;
margin-right: auto;
}

/*
TRYING TO CENTER, WON'T WORK

.dynamicTable {
  text-align:center;
  display:block;
  background-position: center;
  margin: 0 auto;
  color: blue;
 }
*/
th {
text-align: center;

line-height: 25px;
-moz-border-radius: 30px;
width: 300px;
    border-radius: 30px;
    background-color: #d72323;
    color: white;


}
 td {
  text-align: center;
    line-height: 25px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #ffe3be;
    color: black;
 }

 .additionalInformation {
  height: 800px;
 }

 .singlePics {

 }

 .gatedDogParkHeader {
  font-family: cinzel;
  display: block;
  text-align: center;
    height: 50px;
    width: 400px;
    line-height: 50px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #d72323;
    background-position: center;
    color: white;
    margin: 0 auto;
    margin-top: 45px;
 }

 .factsText {
  margin-top: 5px;
  margin-right: 2px;
  margin-left:2px;
  text-align:center;
 }
